Source: pulseaudio-novena
Section: sound
Priority: optional
Maintainer: Jookia <contact@jookia.org>
Build-Depends: debhelper (>= 9), pulseaudio (>= 4)
Standards-Version: 3.9.6
Homepage: http://kosagi.com/

Package: pulseaudio-novena
Architecture: all
Depends: ${misc:Depends}
Description: Pulse Audio configuration files for Novena
 Pulse Audio path and profile set for Kosagi Novena, enabling headphone
 detection.
